__pycache__/
Supplementary_assistive_files/
PDF_ready_for_MarkItDown/
*.py[cod]
*.log
*.csv
outputs/**
!outputs/
!outputs/**/
!outputs/**/.gitkeep
*chen_zimmerman*
*Chen_Zimmerman*
*OpenSourceAP*
*.parquet
*.pkl
*.xlsx
*.ipynb_checkpoints/
.env
.pgpass
