__pycache__/
Supplementary_assistive_files/
*.py[cod]
*.log
*.csv
outputs/*
!outputs/.gitkeep
*chen_zimmerman*
*Chen_Zimmerman*
*OpenSourceAP*
*.parquet
*.pkl
*.xlsx
*.ipynb_checkpoints/
.env
.pgpass
